body{
  margin: 0;
  overflow-x: hidden;
}

.default-styles{
  color: mistyrose;
  background-color: black;
  font-size: 1.25rem;
}

.default-styles h1, 
.default-styles h2, 
.default-styles h3, 
.default-styles h4, 
.default-styles h5,
.default-styles h6{
  color: blueviolet;
}

.default-styles h1 > a, .default-styles h2 > a{
  color: inherit;
}

.default-styles a{
  color: lightblue;
  text-decoration: none;
}

.default-styles a:hover{
  text-decoration: underline;
}

.default-styles dl{
  color: violet;
}

.main-glow-title{
  color: blueviolet;
  text-shadow: 1px 1px 16px blueviolet;
}

.main-glow-title > a:hover{
  text-decoration: none;
}

.main-nav-list > ul{
  padding: 0;
  margin: 0;
}

.main-nav-list a{
  text-decoration: none;
  color: inherit;
}

.main-nav-list a:hover{
  text-shadow: 1px 1px 8px mistyrose;
}

.socials-nav-list > ul{
  margin: 0;
  padding: 0;
}

.socials-nav-list a{
  text-decoration: none;
  color: inherit;
  position: relative;
}

.socials-nav-list img{
  height: 2.5rem;
}

.socials-nav-list p{
  margin: 0;
  visibility: hidden;
  font-size: 0.75rem;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.socials-nav-list a:hover p{
  visibility: visible;
  text-shadow: 1px 1px 16px mistyrose;
}

.top-nav{
  position: sticky;
  top: 0;
  width: 100%;
  height: 3rem;
  background: rgba(0,0,0,0.85);
  backdrop-filter: blur(8px);
  z-index: 69;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #222;
}

.top-nav a{
  text-decoration: none;
  color: inherit;
}

.top-nav a:hover{
  text-decoration: none;
}

.top-nav--title{
  margin: 0 0 0 0.5rem;
  font-size: 2.25rem;
}

.top-nav--nav-list{
  display: flex;
  list-style: none;
  font-size: 1.25rem;
}

.top-nav--nav-list > li{
  color: mistyrose;
  margin-left: 1.5rem;
}

.bottom-nav{
  background-color: black;
  border-top: 1px solid #222;
  position: relative;
  z-index: 69;
  display: flex;
  align-items: center;
  justify-content: center;
  color: mistyrose;
  padding: 0.75rem;
  margin-top: auto;
}

.bottom-nav--title-wrapper > h1{
  margin: 0;
  font-size: 1.25rem;
}

.bottom-nav--title-wrapper a{
  text-decoration: none;
  color: inherit;
}

.bottom-nav--title-wrapper > p{
  margin: 0;
  font-size: 1rem;
}

.bottom-nav--nav-list{
  display: flex;
  list-style: none;
}

.bottom-nav--nav-list > li{
  margin-left: 1rem;
}

.bottom-nav--nav-list img{
  height: 1.75rem;
}

.aside-bottom-nav{
  position: fixed;
  bottom: 1rem;
  z-index: 69;
  color: mistyrose;
}

.aside-bottom-nav--title-wrapper{
  margin-bottom: 0.5rem;
}

.aside-bottom-nav--title-wrapper > h1{
  margin: 0;
  font-size: 1.25rem;
}

.aside-bottom-nav--title-wrapper a{
  text-decoration: none;
  color: inherit;
}

.aside-bottom-nav--title-wrapper > p{
  margin: 0;
  font-size: 1rem;
}

.aside-bottom-nav--nav-list{
  list-style: none;
  display: flex;
}

.aside-bottom-nav--nav-list > li{
  margin-right: 0.375rem;
}

.aside-bottom-nav--nav-list a{
  position: static;
}

.aside-bottom-nav--nav-list img{
  height: 1.625rem;
}

.aside-bottom-nav--nav-list p{
  top: 100%;
}


#home-intro{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('/static/images/home-intro-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;
  position: sticky;
  top: 0;
}

.home-intro--scroll-message{
  position: fixed;
  bottom: 1rem;
  font-size: 2.25rem;
}

.home-panel{
  border: 5px solid mistyrose;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  max-width: 95vw;
}

.home-panel--title{
  font-size: 10rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

.home-panel--title > a{
  text-decoration: none;
}

.home-panel--nav-list{
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.home-panel--nav-list > li{
  margin: 0 1rem 0 1rem;
  padding: 0.25rem;
  color: mistyrose;
}

.default-main-wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.default-main{
  flex: 1;
  background: linear-gradient(0.375turn, #050505, #151515);
  position: relative;
  z-index: 1;
  margin: -3rem 0 0 0;
  padding: 3rem 0 0 0;
  color: mistyrose;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about{
  width: 70vw;
  max-width: 60rem;
  background-color: black;
  padding: 1rem 5rem;
}

.about--main-portrait{
  height: 25rem;
  border-radius: 4rem;
}

.about--title{
  color: blueviolet;
  margin: 0.5rem 0 0 0;
  padding: 0;
}

.about p{
  color: mistyrose;
}

.about a{
  color: lightblue;
}

.blog-side-panel{
  position: fixed;
  height: 100%;
  left: 0;
  width: 16rem;

  background: linear-gradient(0.375turn, #050505, #151515);
  box-sizing: border-box;
  padding: 0 1rem;
  font-size: 1rem;
}

.blog-side-panel > h1{
  font-size: 2rem;
  margin-bottom: 0;
}

.blog-side-panel > nav ul{
  list-style: none;
  padding-left: 0.75rem;
}

.blog-side-panel > nav > ul{
  padding-left: 0.25rem;
}

.blog-side-panel > nav h2,h3{
  margin: 0.25rem 0;
  color: blueviolet;
}

.blog-home-nav > label{
  color: violet;
}

.blog-nav--list{
  display: none;
  overflow-y: auto;
  max-height: 80vh;
}

#blog-nav-radio--date:checked ~ #blog-nav--date{
  display: block;
}

#blog-nav-radio--topic:checked ~ #blog-nav--topic{
  display: block;
}

.blog-main{
  margin: 0 0 0 16rem;
  display: flex;
  justify-content: center;

}

.blog-preview-list{
  list-style: none;
  padding: 0;
}

.blog-preview-list > li{
}

.blog-preview-list .blog-title-link{
  color: blueviolet;
}

.blog-post-nav > ul{
  margin-top: 0;
}

.blog-post-nav--comment-header > a{
  color: lightgrey;
}

.blog-article{
  width: 60vw;
  max-width: 60rem;
}

.blog-article h1{
  margin-bottom: 0;
  font-size: 2.25rem;
}

.blog-article dl{
  display: flex;
  color: violet;
  font-size: 1.125rem;
  border-bottom: 1px dashed #444;
  margin: 0.5rem 0;
}

.blog-article dl > dt{
  margin-right: 1rem;
}

.blog-article img{
  max-height: 40vh;
}

.comments-section > h2{
  margin-bottom: 0;
  color: lightgrey;
}

.comments-section > dl{
  margin: 0;
  border-bottom: 1px dashed #444;
}

.comments-section--form-wrapper{
  display: flex;
  flex-direction: column;
  width: 30rem;
  max-width: 90%;
  margin: 1rem;
}

.comments-section--form-input{
  background: transparent;
  font-size: 1rem;
  color: mistyrose;
  padding: 0.25rem 0.5rem;
}

.comments-section--form-input::placeholder{
  color: #bbb;
}

.comments-section--form-wrapper input{
  border: none;
  border-bottom: 1px solid #444;
}

.comments-section--form-wrapper input:focus{
  outline: none;
  border-bottom: 1px solid mistyrose;
}

.comments-section--form-wrapper textarea{
  resize: vertical;
  min-height: 6rem;
  margin: 0.5rem 0;
  border-color: #444;
  border-radius: 0.5rem;
}

.comments-section--form-wrapper button{
  width: 5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: #111;
  color: mistyrose;
}

.comments-section--comments-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.comments-section--comments-list li{
  width: 90%;
  max-width: 30rem;
}

.comments-section--comments-list li > p{
  color: lightgrey;
}

.comments-section--author-wrapper{
  width: 10rem;
}

.comments-section--author-wrapper > a{
  color: lightgrey;
  margin: 0;
}

.comments-section--author-wrapper > a:hover{
  text-decoration: none;
}

.comments-section--author-wrapper > dl{
  margin: 0;
  font-size: 0.875rem;
  border-bottom: 1px dotted grey;
}

.comments-section--comments-list article{
  font-size: 1rem;  
  color: mistyrose;
  margin: 0.5rem 1rem;
}

.comments-section--comments-list article h1{
  font-size: 1.625rem;
}

.comments-section--comments-list article *{
  margin: 0.125rem 0;
  max-width: 100%;
}

.comments-section--comments-list article img{
  max-height: 20rem;
}

.resume-box{
  background-color: black;
  width: 45rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-box--wrapper{
  width: 42rem;
}

.resume-box--resume{
  display: none;
  border: 1px solid #444;
  width: 42rem;
  margin: 1rem 0;
  padding: 0.5rem;
  box-sizing: border-box;
}

#resume-box--render-check:checked ~ #resume-box--rendered{
  display: block;
}

#resume-box--render-check:not(:checked) ~ #resume-box--unrendered{
  display: block;
}

#resume-box--unrendered{
  white-space: pre-wrap;
}
