<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../components/main-head', {tabTitle: 'About'}); %>
</head>
<body>
  <%- include('../components/about-wrapped.ejs'); %>
  <%- include('../components/main-scripts') %>
</body>
</html>
