<!DOCTYPE html>
<html lang="en">
<%- include('../components/main-head', {tabTitle: 'Blog'}); %>
<body class="default-styles">
  <%- include('../components/top-nav'); %>
  <aside class="blog-side-panel">
    <h1 class="main-glow-title">Blog</h1>
    <p>Dumb thoughts by me.</p>
    <nav>
	
    </nav>

    <%- include('../components/aside-bottom-nav'); %>
  </aside>
  <main class="blog-main">
    <div class="main-glow-title">hi</div>
  </main>
</body>
</html>
