<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../components/main-head', {tabTitle: 'Blog'}); %>
</head>
<body class="default-styles">
  <% blogs.sort((x, y) => y.meta.date - x.meta.date); %>
  <%- 
    include('../components/blog-page', {
      blogSide: include('../components/blog-home-nav', {blogs: blogs}),
      blogMain: include('../components/blog-preview-list', {md: md, blogs: blogs})
    }); 
  %>
</body>
</html>
