<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../components/main-head', {tabTitle: `Blog - ${blog.meta.title}`}); %>
</head>
<body class="default-styles">
  <%- 
    include('../components/blog-page', {
      blogSide: include('../components/blog-post-nav', {slugify: slugify, blog: blog}),
      blogMain: include('../components/blog-post', {md: md, mdAnc: mdAnc, blog: blog, comments: comments})
    }); 
  %>
  <%- include('../components/main-scripts') %>
</body>
</html>
