<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../components/main-head', {tabTitle: 'Site'}); %>
</head>
<body>
  <%- include('../components/home-panel.ejs') %>
  <%- include('../components/about-wrapped'); %>
</body>
</html>
