<!DOCTYPE html>
<html lang="en">
<%- include('../components/main-head', {tabTitle: 'Site'}); %>
<body>
  <section id="home-intro">
    <div class="home-panel">
      <h1 class="home-panel--title"><a class="main-glow-title" href="/">Jason<br />Gonzalez</a></h1>
      <%- include('../components/main-nav-list', {navListClass: 'home-panel--nav-list'}); %>
      <%- include('../components/socials-nav-list', {navListClass: 'home-panel--nav-list'}); %>
    </div>
    <h2 class="home-intro--scroll-message main-glow-title">\/ Scroll \/</h2>
  </section>
  <%- include('../components/about'); %>
</body>
</html>
