<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../components/main-head', {tabTitle: 'Resume'}); %>
</head>
<body>
  <%- include('../components/main-template-wrapper.ejs', {
      mainContent: include('../components/resume-page.ejs', {md: md, resume: resume})
  }); %>
</body>
</html>
