<article class="about">
    <img class="about--main-portrait" src="/static/images/my-portrait.jpg" alt="My Portrait" />
    <section>
      <h2 class="about--title">Who am I?</h2>
      <p>Hello! I'm <b>Jason Gonzalez</b>, but perhaps you've seen me online as <b>SuperJ6</b> or <b>Rythm</b>.</p>
      <p>My largest presences are probably in Competitive Programming and Cybersecurity CTFs, but I enjoy trying and learning many new things. I've dabbled in various areas of maths, computer science, sports, music, etc. Right now I would say I'm most interested in thinking about how people think, and how I can apply such insights both to help others learn more efficiently and give algorithms a touch of human intuition.</p> 
      <p>I strongly believe in order to do something best, you must be able to extrapolate from your previous experiences and have the determination to figure things out yourself (but still always take advice when you can). I think it's good to be outdoors as much as possible.</p>
    </section>
    <section>
      <h2 class="about--title">Background</h2>
      <p>I grew up in Texas. I realized I enjoy learning early on, and by the end of elementary began putting nontrivial time into learning ahead, particularly enjoying maths and CS. I also played various sports from very young and soccer was a big part of my life until HS.</p>
      <p>Just before HS, I learned of and began practicing for maths olympiad, which led me to finding and competing in various stem contests throughout HS, though I found most success in USACO and CTFs. Halfway through HS I transitioned to homeschool, as I always believed it was more efficient to teach myself, and it allowed me to work further ahead in my interests.</p>
      <p>I'm now currently enrolled as an MIT student, and I'm attempting to broaden the horizons of my practical knowledge. I want to become less of an academic and more of someone who can actually make a difference. I'm also trying out various random hobbies.</p>
    </section>
    <section>
      <h2 class="about--title">Favorites Self Q&A</h2>
      <ul>
	<li>
	  <p>Food? Seafood, Sushi</p>
	</li>
	<li>
	  <p>Music? Jazz, Classical, Musicals</p>
	</li>
	<li>
	  <p>Pet? Cats (have 2)</p>
	</li>
	<li>
	  <p>Activity? Bowling, Ice Skating</p>
	</li>
	<li>
	  <p>Art? Impressionist, American Landscape</p>
	</li>
	<li>
	  <p>Programming Language? C, Python</p>
	</li>
	<li>
	  <p>Text Editor? Vim</p>
	</li>
	<li>
	  <p>idk</p>
	</li>
      </ul>
    </section>
    <section>
      <h2 class="about--title">Want to see more?</h2>
      <p>See the important stuff in <a href="/resume">/resume</a>. Look at some stuff I've done in <a href="/projects">/projects</a>. Read random technical, introspective, and clown things from me in <a href="/blog">/blog</a>. I put some random problems of various subjects I've made that you can try in <a href="/problems">/problems</a>. I have a fairly detailed log of my life in <a href="/log">/log</a>, but ask me for access first.</p>
      <p>You can contact me on the socials below (discord preferable).</p>
      <img class="about--main-portrait" src="/static/images/me-standing.jpg" alt="me-standing" />
    </div>
  </article>
