<div class="blog-post">
  <%- include('../components/blog-render', {md: mdAnc, blog: blog, isPreview: false}); %>
  <%- include('../components/comments-section', {md: md, comments: comments}); %>
</div>
