<ul class="blog-preview-list">
  <% 
    if(blogs.length){
      blogs.forEach((blog) => {
  %>
    <li>
      <%- include('../components/blog-render', {md: md, blog: blog, isPreview: true}); %>
    </li>
  <%   
      }); 
    }else{
  %>
    <li>
      <p>None yet :(</p>
    </li>
  <% } %>
</ul>
