<%- include('../components/top-nav'); %>
<aside class="blog-side-panel">
  <h1 class="main-glow-title"><a href="/blog">Blog</a></h1>
  <p>Dumb thoughts by me.</p>
  <%- blogSide %>
  <%- include('../components/aside-bottom-nav'); %>
</aside>
<main class="blog-main">
  <%- blogMain %>
</main>
