<footer class="bottom-nav"> 
  <div class="bottom-nav--title-wrapper">
    <h2 class="main-glow-title bottom-nav--title"><a href="/">Jason Gonzalez</a></h2>
    <p>My clown site.</p>
  </div>
  <%- include('./socials-nav-list', {navListClass: 'bottom-nav--nav-list'}); %>
</footer>
