<div class="default-main-wrapper default-styles">
  <%- include('../components/top-nav'); %>
  <main class="default-main">
    <%- mainContent %>
  </main>
  <%- include('../components/bottom-nav'); %>
</div>
