<nav class="main-nav-list">
  <ul class="<%= navListClass %>">
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/resume">Resume</a>
    </li>
    <li>
      <a href="/projects">Projects</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/problems">Problems</a>
    </li>
    <li>
      <a href="/log">Log</a>
    </li>
  </ul>
</nav>

