<div class="default-main-wrapper">
  <%- include('../components/top-nav'); %>
  <main class="default-main default-styles">
    <%- mainContent %>
  </main>
  <%- include('../components/bottom-nav'); %>
</div>
