<address class="socials-nav-list">
  <ul class="<%= navListClass %>">
    <li>
      <a target="_blank" rel="noopener noreferrer" href="https://discord.com/users/megumikatou">
        <img src="/static/images/discord-icon.svg" alt="discord" />
        <p>megumikatou (Rythm)</p>
      </a>
    </li>
    <li>
      <a target="_blank" rel="noopener noreferrer" href="https://ctftime.org/user/75255">
        <img src="/static/images/ctftime-icon.png" alt="ctftime" />
        <p>Rythm</p>
      </a>
    </li>
    <li>
      <a target="_blank" rel="noopener noreferrer" href="https://codeforces.com/profile/superj6">
        <img src="/static/images/codeforces-icon.svg" alt="codeforces" />
        <p>superj6</p>
      </a>
    </li>
    <li>
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/superj6">
        <img src="/static/images/github-icon.svg" alt="github" />
        <p>superj6</p>
      </a>
    </li>
    <li>
      <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/superjgon">
        <img src="/static/images/linkedin-icon.svg" alt="linkedin" />
        <p>superjgon</p>
      </a>
    </li>
    <li>
      <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/@superjgon">
        <img src="/static/images/youtube-icon.svg" alt="youtube" />
        <p>@superjgon</p>
      </a>
    </li>
    <li>
      <a target="_blank" rel="noopener noreferrer" href="mailto:jgon@mit.edu">
        <img src="/static/images/outlook-icon.svg" alt="email" />
        <p>jgon@mit.edu</p>
      </a>
    </li>
  </ul>
</address>
