<footer class="<%= navType %>"> 
  <div class="<%= navType %>--title-wrapper">
    <h1 class="main-glow-title"><a href="/">Jason Gonzalez</a></h2>
    <p>My clown site.</p>
  </div>
  <%- include('./socials-nav-list', {navListClass: navType + '--nav-list'}); %>
</footer>
