<header class='top-nav'>
  <div class="top-nav--resize-wrap">
    <h1 class='top-nav--title main-glow-title'><a href="/">Jgon</a></h1>
    <button class="top-nav--drop-ham">&#9776;</button>
  </div>
  <%- include('main-nav-list', {navListClass: 'top-nav--nav-list'}) %>
</header>
